extends layout

block content
  h1 
    img(src='images/icon.png' height='64px' align='center')
    span &nbsp; Linux PaaS - Demo Web App
  h3 Microsoft &hearts; Open source
  h3 Let's run this in Azure with Docker
  button OK Great!
  