body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: lightgray;
  background-color: #333333;
}

a {
  color: white;
}

h1 {
  background-color: #0072C6;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

button {
  background-color: #B8D432;
  border: none;
  padding: 10px;
  font-size: 150%;
}

button:hover{
  background-color: deepskyblue;
}